/*valores predeterminados*/

*{
	margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.1rem;

}


/*colores para la web*/

body {
	background-color: #13182e;
}

span{
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-size: 3rem;
	color: #767676;
}