/*valores predeterminados*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*colores para la web*/


body {
	background-color: #55859e;
	font-family: 'JetBrains Mono', monospace;
}

span{
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-size: 3rem;
	color: #28251b;
}

/*Parte del about me*/

/*centra todo*/

.header__intro {
	position: absolute;
	top: 50%;
	left: 57%;
	text-align: center;
	transform: translate(-50%, -50%);
	text-align: center;
}


.header__intro__titulo{
	display: block;
	transform: translate(-50%, -50%);
    font-size: 3rem;
    text-align: center;
    top: 50%;
    width: 132%;
    right: 14%;
	font-family: 'JetBrains Mono', monospace;
	color: #ffffff;

	transform: translateY(1rem);
	margin: 0rem 1.5rem;
}


.header__intro__parrafo{
	display: block;
	padding: 10px 0px;
	color:black;
	margin-left:2.3rem ;
	font-size: 1rem;
	font-family: 'JetBrains Mono', monospace;
	letter-spacing: 1.5px;
	transform: translateY(3rem);
}

.header__intro__icons{
	display: flex;
    justify-content: center;
    margin-left:2.1rem;
	transform: translateY(3rem);
}

.header__intro__icons__instagram {
	color: #ffff;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.header__intro__icons__Git-hub{
	width: 30px;
    height: 30px;
    display: inline-block;
}

.header__intro__icons__Linkedin{
	width: 30px;
    height: 30px;
    display: inline-block;
}

.header__intro__icons a {
	color: 	#ffffff;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 1px;
    margin-right: 20px;
    margin-left: 20px;
}


