
/*valores predeterminados*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*variables*/

:root{
	--color-body:#55859e;
	--nav-background: #001834;
	--nav-bordes: #ffffff;
    --nav-items:#ffffff;
    --items-hover: #01244d;
    --footer-color: #ffffff;
    --butom-colordegrid:rgba(0,0,0,0.3);
    --butom-solidcolor: #ffffff;
    --butom-hover:rgba(36, 36, 36, 0.771);

}


/*inicio del css de la barra nav*/

.nav__in{
	display: flex;
	position: fixed;
	width: 250px;
	height: 100vh;
    -webkit-box-pack: justify;
    justify-content: space-around;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--nav-background);
    border-right: 2.5px solid var(--nav-bordes);
}

.avatar {
	background-color: var(--nav-background);
	width: 100%;
    text-align: center;
    padding: 20px 0px; 
}

.img{
	height: 200px;
	width: 200px;
	border: 2px solid rgba(256, 256, 256, 128);
	border-radius: 50%;
}


.section {
	background-color:#ffffff;
    border-top: 1.5px solid rgba(256, 256, 256, 128);
	width: 100%;

}


.items {
    display:flex;
	border-bottom: 1.5px solid rgba(256, 256, 256, 128);
    background-color: var(--nav-background);
    justify-content: center;  
}

.items:hover {
    background-color: var(--items-hover);
}

.items a{
	display: block;
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 1rem;
	margin-top: 10px;
	margin-bottom: 10px;
	letter-spacing: 2px;
	color:var(--nav-items);
}


.footer {
	width: 100%;
	color:var(--footer-color);
	padding: 1.3rem 0px;
    font-size: 0.9rem;
    display: block;
    text-align: center;
}



/*boton responsed*/


.button-nav__respon{
	position: fixed;
    top: 1rem;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 100;
    background-color: var(--butom-colordegrid);
    color: var(--butom-solidcolor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
}

.button-nav__respon:hover{
    background-color: var(--butom-hover);
    color: var(--butom-solidcolor);
}

.button-nav__respon svg{
	width: 1.5rem;
}